<html lang='en'>

<head>
   <meta http-equiv='X-UA-Compatible' content='IE=edge' />
   <meta name='viewport' content='width=device-width, initial-scale=1.0' />
   <title>Message</title>
</head>


<body>

   <style>
      body {
         background-color: #111;
         color: #fff;
      }

      a {
         color: #fff;
         font-style: italic;
      }
   </style>

   <p>Ola {{name}}</p>
   <a href={{link}}>Recureper sua senha</a>
   <b>Esse link irar expirar em breve.</b>
</body>

</html>