<html lang='en'>
   <head>
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Document</title>
   </head>
   <body>
      <style>
         *{ margin: 0; padding: 0; box-sizing: border-box; } h1{ font-size:
         1rem; font-weight: bold; } .wrapper-section-one{ }
      </style>
      <h1 class='title'> oi</h1>
      <section class='wrapper-section-one'>
         <h1>{{name}}</h1>
         <p>{{subject}}</p>
      </section>
      <table>
         <thead> <th>Transaction</th> </thead>
         <tbody>
            {{#transactions}}
               <tr>
                  <td>{{value}}
                  </td>
                  <td>{{description}}</td>
               </tr>
            {{/transactions}}
         </tbody>
      </table>
   </body>
</html>
